.main__title {
  display: flex;
  flex-direction: column;
  .offset(0; 0);
  color: @grey;
}

.main__title-text {
  font-weight: 800;
  .typography(28px; 1.2);
  text-transform: uppercase;

  @media (min-width: @desktop-width) {
    font-size: 48px;
  }
}

.main__title-text--second {
  color: @green;
}

.main__title-small {
  .typography(16px; 1.2);

  @media (min-width: @desktop-width) {
    font-size: 40px;
  }
}

.main__subtitle {
  position: relative;
  .offset(0 0 23px 0; 0);
  font-weight: 700;
  .typography(25px; 1.2);
  color: @grey;

  @media (min-width: @tablet-width) {
    font-size: 40px;
  }
}

.main__subtitle--catalog {
  margin-bottom: 27px;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 47px;
  }
}

.main__subtitle--gallery {
  margin-bottom: 39px;
  text-align: center;
  z-index: 10;
}

.main__subtitle--menu {
  margin-bottom: 40px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 36px;
  color: @black1;
  text-align: center;
  z-index: 10;

  @media (min-width: @tablet-width) {
    margin-bottom: 74px;
    font-size: 48px;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    padding-right: 420px;
    font-size: 48px;
  }
}

.main__subtitle--form {
  margin-bottom: 20px;

  @media (min-width: @desktop-width) {
    margin-bottom: 44px;
  }
}
