@white: #ffffff;
@white1: rgba(77, 102, 26, 0.25);
@black: #000000;
@black1: #28292d;
@grey: #4b4b53;
@grey1: #67686c;
@green: #4d661a;
@green1: rgb(152,170,112);
@green2: rgb(77,102,26);
@green3: #d9ddd2;
